<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

    <!-- Disable for production release -->
    <!-- <appender name="consoleAppender"
              class="org.apache.log4j.ConsoleAppender">
        <param name="Threshold" value="INFO"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d
             %-5p  [%c{1}] %m %n"/>
        </layout>
    </appender> -->

    <appender name="fileAppender"
              class="org.apache.log4j.RollingFileAppender">
        <param name="Threshold" value="INFO"/>
        <param name="File" value="client.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d
                %-5p  [%c{1}] %m %n"/>
        </layout>
    </appender>

    <!-- Disable for production release -->
    <!-- <category name="org.apache.activemq.broker.jmx.ManagementContext">
        <priority value="INFO"/>
    </category> -->

    <!-- Disable for production release -->
    <!-- <logger name="javabeat.net.log4j" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="consoleAppender"/>
        <appender-ref ref="fileAppender"/>
    </logger> -->

    <root>
        <!-- Disable for production release -->
        <!-- <appender-ref ref="consoleAppender"/> -->
        <appender-ref ref="fileAppender"/>
    </root>

</log4j:configuration>